:root{
    --modal-width: 500px;
    --modal-height: 500px;
}

.modal-container{
    z-index: 5;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    /* temp */
    color: red;
    background-color: #aaa;
    border-radius: 5px;
    border: 1px solid gold;

    width: var(--modal-width);
    height: var(--modal-height);
    top: calc(50% - var(--modal-height)*0.5);
    left: calc(50% - var(--modal-width)*0.5);
}