:root{
    --modal-width: 500px;
    --modal-height: 500px;
}

.modal-container{
    position: absolute;
    z-index: 5;

    /* temp */
    color: red;
    background-color: #aaa;
    border-radius: 5px;
    border: 1px solid gold;
    /* transform-origin: calc(50% - var(--modal-height)*0.5) calc(50% - var(--modal-width)*0.5); */

    width: var(--modal-width);
    height: var(--modal-height);
    top: calc(50% - var(--modal-height)*0.5);
    left: calc(50% - var(--modal-width)*0.5);
}